.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.header .head {
  display: table;
  width: 100%;
  padding: 0.5rem 10%;
}

.header .head .header_logo_out {
  width: 20%;
  display: table-cell;
  vertical-align: middle;
}

.header .head .header_logo_out .header_logo {
  width: 6.5rem;
}

.header .head .header_link {
  vertical-align: middle;
  display: table-cell;
  width: 80%;
}

.header .head .header_link ul {
  vertical-align: middle;
  height: 100%;
  text-align: right;
}

.header .head .header_link ul li {
  vertical-align: middle;
  height: 100%;
}

.header .head .header_link ul li a {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 0.8rem;
  padding: 0.5rem 0.75rem;
  margin: 0 0.5rem;
  letter-spacing: 0.25rem;
  color: #fff;
}

.header .head .header_link ul li a:hover {
  background: rgba(96, 92, 92, 0.4);
  border-radius: 10%;
}

.header_change .head {
  background: white;
  padding: 0.25rem 6%;
  -webkit-box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.header_change .head .header_logo_out {
  width: 20%;
}

.header_change .head .header_logo_out .header_logo {
  width: 6rem;
}

.header_change .head .header_link {
  width: 80%;
}

.header_change .head .header_link ul {
  height: 100%;
}

.header_change .head .header_link ul li {
  height: 100%;
}

.header_change .head .header_link ul li a {
  font-size: 0.8rem;
  padding: 0.25rem 1rem;
  margin: 0 0.25rem;
  letter-spacing: 0.25rem;
  color: #000;
}

.header_change .head .header_link ul li a:hover {
  background: none;
  border-radius: 10%;
  font-weight: bolder;
}

.header * {
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.header_mb {
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.header_mb01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #da2f2f;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25rem 0;
}

.header_mb01 > div {
  text-align: center;
}

.header_mb01_btn {
  width: 20%;
  font-size: 1.2rem;
}

.header_mb01_logo {
  width: 60%;
}

.header_mb01_logo img {
  height: 2rem;
}

.header_mb01_search {
  width: 20%;
  font-size: 1.2rem;
}

.header_mb02 {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.header_mb03 {
  position: fixed;
  width: 65%;
  height: 100%;
  left: -65%;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.header_mb03_show {
  left: 0;
}

.header_mb03_li {
  padding: 0.45rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  text-align: center;
  letter-spacing: 0.5rem;
}

.header_mb03_li a {
  display: block;
  color: #fafafa;
}

.header_mb03_header {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/head/headerbg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.header_mb03_header_img {
  width: 25%;
  border-radius: 100%;
  overflow: hidden;
  background: #d8d8d8;
}

.header_mb03_bottom {
  color: #f7f7f7;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_mb03_bottom div {
  width: 25%;
  text-align: center;
}

.home_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.home_video_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  color: #fff;
}

.home_video_text .home_video_textinner {
  text-align: center;
}

.home_preface {
  text-align: center;
  background: #fafafa;
}

.home_preface_text {
  padding: 10rem 0;
}

.home_preface_img {
  padding: 10rem 0;
  background-image: url("../img/home/22.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home_bg01 {
  background-image: url(../img/home/003.jpg);
}

.home_bg02 {
  background-image: url(../img/home/007.jpg);
}

.home_bg03 {
  background-image: url(../img/home/004.jpg);
}

.home_bg04 {
  background-image: url(../img/home/006.jpg);
}

.footer {
  background: #232323;
  color: #fff;
  padding: 0.5rem 0;
}

.footer a {
  color: #fff;
}

.footer_inner {
  text-align: center;
}

.footer_inner_0101,
.footer_inner_0102 {
  display: inline-block;
}

.footer_inner_0101 a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer_inner_0101_01 a:hover {
  color: #aaaaf1;
}

.footer_inner_0101_02 a:hover {
  color: #b5c53c;
}

.footer_inner_0102 a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer_inner_0102 a:hover {
  color: #aaaaf1;
}

.footer_inner_0102 i {
  padding-left: 0.2rem;
  padding-right: 0.1rem;
}

.footer_inner_02 {
  color: #626262;
}

.footer_mb {
  text-align: center;
  background: #232323;
  color: #fff;
  padding: 0.5rem 0;
}

.dg {
  display: none;
}

.web_canvas {
  position: relative;
}

.web_canvas_01 {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1500;
          perspective: 1500;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

.web_canvas_01_bg {
  position: absolute;
  width: 100%;
  height: 50vh;
  top: 0;
  left: 0;
  background: #fff;
  background-image: url(../img/web/ui.png);
  background-position: 0% 0%;
  -webkit-animation: splash 15s linear -15s infinite both;
          animation: splash 15s linear -15s infinite both;
  -webkit-transform: rotateX(45deg) scale(2);
          transform: rotateX(45deg) scale(2);
  background-attachment: fixed;
}

@-webkit-keyframes splash {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% -475px;
  }
}

@keyframes splash {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% -475px;
  }
}

.web_canvas_01::after {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.web_canvas_02 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#canvas_web02 {
  width: 100%;
  height: auto;
  z-index: 1;
}

.web_content1 {
  padding: 2.5rem 0;
}

.web_con1_title {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bolder;
}

.web_con1_i {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}

.web_con1_i i {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.web_con1_text {
  text-align: center;
}

.web_con1_btn {
  font-size: 1.2rem;
  color: #f7f7f7;
  background: red;
  border-radius: 0.3rem;
  padding: 0.5rem 0;
  text-align: center;
  margin: 4rem 0;
}

.web_con2_classify_title {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.web_content2 {
  padding: 5rem 0;
  background-image: url(../img/web/002.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.web_con2_li {
  padding-bottom: 15px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
  background: white;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  padding: 5px;
}

.web_con2_title {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.web_con2_classify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.web_con2_article_details {
  background: #f7f7f7;
  border-top: 1px solid #d6d4d4;
}

.web_con2_article_details01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.web_con2_article_details02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wl_search {
  background-image: url(../img/weblist/weblistsearch.jpg);
  height: 436px;
  background-repeat: no-repeat;
  background-position: center;
}

.wl_search_inner {
  padding-top: 134px;
  width: 800px;
  margin: 0 auto;
}

.wl_search_02_nav {
  border-radius: 7px;
  overflow: hidden;
}

.wl_search_02_form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 10px;
}

.wl_search_02_input {
  width: 90%;
  height: 54px;
  border: 1px solid #ced4da;
}

.wl_search_02_btn {
  width: 10%;
  height: 54px;
}

.wl_title {
  font-size: 28px;
  font-weight: bolder;
  margin: 20px 0;
}

.wl_list {
  margin-bottom: 60px;
}

.wl_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.wl_li_img {
  width: 10%;
  margin-right: 3%;
}

.wl_li_text {
  width: 80%;
}

.wl_li_title01 {
  font-size: 24px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.wl_li_title02 {
  font-size: 18px;
}

.wl_pagination {
  margin-bottom: 30px;
}

.webdetails_box {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wd_01,
.wd_02,
.wd_03 {
  height: 100%;
}

.wd_01 {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wd_01_inner01 {
  width: 30%;
  padding: 30px 0;
}

.wd_01_li01 {
  margin-left: 20%;
}

.wd_01_inner02 {
  width: 70%;
  background: #f7f7f7;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 30px 15px;
}

.wd_01_inner02::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -10px;
  height: 100%;
  width: 10px;
  -webkit-box-shadow: 1px 0px 40px rgba(146, 146, 146, 0.49);
          box-shadow: 1px 0px 40px rgba(146, 146, 146, 0.49);
  z-index: 0;
}

.wd_01_inner02_in {
  z-index: 0;
}

.wd_01_li02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.wd_01_li_title {
  width: 60%;
}

.wd_01_li_time {
  width: 40%;
  text-align: right;
}

.wd_02 {
  width: 45%;
  background: #ffffff;
  overflow-y: scroll;
  padding: 0 15px;
}

.wd_02_inner {
  padding: 30px 0;
}

.wd_02_content {
  text-align: justify;
  font-size: 15px;
}

.wd_03 {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7;
  position: relative;
  overflow-x: hidden;
}

.wd_03::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -10px;
  height: 100%;
  width: 10px;
  -webkit-box-shadow: 1px 0px 40px rgba(146, 146, 146, 0.49);
          box-shadow: 1px 0px 40px rgba(146, 146, 146, 0.49);
  z-index: 0;
}

.wd_03_box {
  position: relative;
  z-index: 0;
  height: 50%;
  width: 100%;
  background: #d8d8d8;
  z-index: 0;
}

.wd_03_box_inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.about_01 {
  position: relative;
}

.about_01_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: #232323;
}

.about_03_title {
  text-align: center;
  font-size: 1.5rem;
  background: #da2f2f;
  padding: 1rem 0;
  color: #fff;
  letter-spacing: 1rem;
  font-weight: bold;
}

.about_03_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0;
}

.about_03_box_li {
  position: relative;
  width: 10%;
  display: inline-block;
}

.about_03_box_li > img {
  width: 100%;
}

.about_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.about_box:hover {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
}

.about_box03::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.about_box:hover .about_box03::after {
  background: transparent;
}

.about_box01,
.about_box02,
.about_box03 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  position: relative;
}

.about_box03 img {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.dowebok {
  width: 100%;
  margin-bottom: 0.5rem;
}

.dowebok a {
  margin: 0 15px;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  line-height: 1rem;
  padding: 0 5px;
}

.dowebok a:hover {
  background: #bbc7e8;
  border-radius: 5px;
}

.carousel-inner {
  height: 50vh;
}

.carousel-item {
  height: 100%;
}

.life_con2_title {
  font-size: 2.4rem;
  font-weight: bolder;
  padding: 2rem 0;
}

.life_con2_text {
  padding-bottom: 2rem;
}

.life_con2_img {
  padding-bottom: 2rem;
}

.life_content3 {
  background: #F9F9F9;
  padding: 4rem 0;
}

.life_con3_con_out {
  padding-bottom: 1.5rem;
}

.life_con3_con {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.life_con3_title {
  color: #373A41;
  font-size: 0.8rem;
  font-weight: bolder;
}

.life_con3_txt {
  padding: 0.5rem 0.5rem;
}

.life_con3_text {
  color: #727272;
  font-size: 0.7rem;
}

.life_con3_con:hover {
  background: #fff;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=style.css.map */