// 头部****************************************************************
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    .head {
        display: table;
        width: 100%;
        padding: 0.5rem 20.5%;
        .header_logo_out {
            width: 20%;
            display: table-cell;
            vertical-align: middle;
            .header_logo {
                width: 2.5rem;
            }
        }
        .header_link {
            vertical-align: middle;
            display: table-cell;
            width: 80%;
            ul {
                vertical-align: middle;
                height: 100%;
                text-align: right;
                li {
                    vertical-align: middle;
                    height: 100%;
                    a {
                        display: inline-block;
                        height: 100%;
                        vertical-align: middle;
                        font-size: 0.8rem;
                        padding: 0.5rem 0.75rem;
                        margin: 0 0.5rem;
                        letter-spacing: 0.25rem;
                        color: #fff;
                    }
                }
                & li:last-child a {
                    padding-right: 0;
                    margin-right: 0;
                }
            }
        }
    }
}

.header_change {
    .head {
        background: white;
        padding: 0.25rem 6%;
        .header_logo_out {
            width: 20%;
            .header_logo {
                width: 2rem;
            }
        }
        .header_link {
            width: 80%;
            ul {
                height: 100%;
                li {
                    height: 100%;
                    a {
                        font-size: 0.8rem;
                        padding: 0.25rem 1rem;
                        margin: 0 0.25rem;
                        letter-spacing: 0.25rem;
                        color: #000;
                    }
                }
                & li:last-child a {
                    padding-right: 0;
                    margin-right: 0;
                }
            }
        }
    }
}

.header * {
    transition: all ease-out 0.3s;
}

// 手机头部
.header_mb {
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.header_mb01 {
    display: flex;
    background: #da2f2f;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0;
}

.header_mb01>div {
    text-align: center;
}

.header_mb01_btn {
    width: 20%;
    font-size: 1.2rem;
}

.header_mb01_logo {
    width: 60%;
}

.header_mb01_logo img {
    height: 2rem;
}

.header_mb01_search {
    width: 20%;
    font-size: 1.2rem;
}

.header_mb02 {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.header_mb03 {
    position: fixed;
    width: 65%;
    height: 100%;
    left: -65%;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: all ease-in-out 0.3s;
}

.header_mb03_show {
    left: 0;
}

.header_mb03_li {
    padding: 0.45rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    text-align: center;
    letter-spacing: 0.5rem;
}

.header_mb03_li a {
    display: block;
    color: #fafafa;
}

.header_mb03_header {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/head/headerbg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.header_mb03_header_img {
    width: 25%;
    border-radius: 100%;
    overflow: hidden;
    background: #d8d8d8;
}

// 视频
.home_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.home_video_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    .home_video_textinner {
        text-align: center;
    }
}

.home_preface {
    text-align: center;
    background: #fafafa;
}

.home_preface_text {
    padding: 10rem 0;
}

.home_preface_img {
    padding: 10rem 0;
    background-image: url("../img/home/22.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home_frontend .home_preface_img {
    background-image: url("../img/home/7.jpg");
}

.home_preface_title {
    font-size: 2rem;
}

.home_preface_content {
    font-size: 1.5rem;
}

.footer {
    text-align: center;
    background: #232323;
    color: #fff;
    padding: 1rem 0;
    a {
        color: #fff;
    }
}

// 前端页面
#web_canvas canvas {
    width: 100% !important;
    height: auto !important;
}

.dg {
    display: none;
}

.web_canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.canvas_text {
    height: 39vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web_content1 {
    padding: 2.5rem 0;
}

.web_con1_li {
    padding-bottom: 15px;
}

.web_con1_img {}

.web_con1_title {}

.web_con1_article_details {}

.web_con1_article_author {}

.web_con1_article_time {}

// weblist 前端列表页
.wl_search {
    background-image: url(../img/weblist/weblistsearch.jpg);
    height: 436px;
    background-repeat: no-repeat;
    background-position: center;
}

.wl_search_inner {
    padding-top: 134px;
    width: 800px;
    margin: 0 auto;
}

.wl_search_02_nav {
    border-radius: 7px;
    overflow: hidden;
}

.wl_search_02_form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
}

.wl_search_02_input {
    width: 90%;
    height: 54px;
    border: 1px solid #ced4da;
}

.wl_search_02_btn {
    width: 10%;
    height: 54px;
}

.wl_title {
    font-size: 28px;
    font-weight: bolder;
    margin: 20px 0;
}

.wl_list {
    margin-bottom: 60px;
}

.wl_li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.wl_li_img {
    width: 10%;
    margin-right: 3%;
}

.wl_li_text {
    width: 80%;
}

.wl_li_title01 {
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.wl_li_title02 {
    font-size: 18px;
}

.wl_pagination {
    margin-bottom: 30px;
}

// web详情页
.webdetails_box {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.wd_01,
.wd_02,
.wd_03 {
    height: 100%;
}

.wd_01 {
    width: 30%; // background: #a4a4a4;
    display: flex;
    justify-content: flex-start;
}

.wd_01_inner01 {
    width: 30%;
    padding: 30px 0;
}

.wd_01_li01 {
    margin-left: 20%;
}

.wd_01_inner02 {
    width: 70%;
    background: #f7f7f7;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 30px 15px;
}

.wd_01_inner02::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -10px;
    height: 100%;
    width: 10px;
    box-shadow: 1px 0px 40px rgba(146, 146, 146, 0.49);
    z-index: 0;
}

// .wd_01_inner02::after {
//     content: " ";
//     position: absolute;
//     top: 0;
//     right: -10px;
//     height: 100%;
//     width: 10px;
//     box-shadow: 1px 0px 40px rgba(146, 146, 146, 0.49);
//     z-index: 0;
// }
.wd_01_inner02_in {
    z-index: 0;
}

.wd_01_li02 {
    display: flex;
    position: relative;
    z-index: 1;
}

.wd_01_li_title {
    width: 60%;
}

.wd_01_li_time {
    width: 40%;
    text-align: right;
}

.wd_02 {
    width: 45%; // background: #b5b5b5;
    background: #ffffff;
    overflow-y: scroll;
    padding: 0 15px;
}

.wd_02_inner {
    padding: 30px 0;
}

.wd_02_content {
    text-align: justify;
    font-size: 15px;
}

.wd_03 {
    width: 45%; // background: #c6c6c6;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    position: relative;
    overflow-x: hidden;
}

.wd_03::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -10px;
    height: 100%;
    width: 10px;
    box-shadow: 1px 0px 40px rgba(146, 146, 146, 0.49);
    z-index: 0;
}

.wd_03_box {
    position: relative;
    z-index: 0;
    height: 50%;
    width: 100%;
    background: #d8d8d8;
    z-index: 0;
}

.wd_03_box_inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

// about 关于页面
.about_01 {
    position: relative;
}

.about_01_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #232323;
}

.about_03_title {
    text-align: center;
    font-size: 1.5rem;
    background: #da2f2f;
    padding: 1rem 0;
    color: #fff;
    letter-spacing: 1rem;
    font-weight: bold;
}

.about_03_box {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

.about_03_box_li {
    position: relative;
    width: 10%;
    display: inline-block;
}

.about_03_box_li>img {
    width: 100%;
}

.about_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all ease 0.2s;
}

.about_box:hover {
    transform: scale(0.94);
}

.about_box03::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    transition: all ease 0.2s;
}

.about_box:hover .about_box03::after {
    background: rgba(0, 0, 0, 0);
}

.about_box01,
.about_box02,
.about_box03 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(60deg);
    position: relative;
}

.about_box03 img {
    width: 100%;
    height: 100%;
    transform: rotate(-180deg);
}