//******************************************* reset
html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

@mixin Aclose {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a {
    // 正常
    &:link {
        @include Aclose;
    } // 鼠标放上
    &:hover {
        @include Aclose;
    } // 已访问过
    &:visited {
        @include Aclose;
    } // 点击时候
    &:active {
        @include Aclose;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
}

//******************************************* 自定义
.MAclose {
    margin: 0;
}

.PAclose {
    padding: 0;
}

.Whitefont {
    color: white;
}

.Blackfont {
    color: black;
}

.Bolderfont {
    font-weight: bolder;
}

.Lighterfont {
    font-weight: lighter;
}

.BGtransparent {
    background: rgba(0, 0, 0, 0.3);
}

.BGtitle1 {
    font-size: 5rem;
}

.BGtitle2 {
    font-size: 3.5rem;
}

.Title {
    font-size: 2.4rem;
}

.Content {
    font-size: 1.6rem;
}

.Content_small {
    font-size: 1.4rem;
}

.BGwhite {
    background: #fafafa;
}

// 头部
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    .head {
        display: table;
        width: 100%;
        padding: 1rem 20.5%;
        .header_logo_out {
            width: 20%;
            display: table-cell;
            vertical-align: middle;
            .header_logo {
                width: 5rem;
            }
        }
        .header_link {
            vertical-align: middle;
            display: table-cell;
            width: 80%;
            ul {
                vertical-align: middle;
                height: 100%;
                text-align: right;
                li {
                    vertical-align: middle;
                    height: 100%;
                    a {
                        display: inline-block;
                        height: 100%;
                        vertical-align: middle;
                        font-size: 1.6rem;
                        padding: 1rem 1.5rem;
                        margin: 0 1rem;
                        letter-spacing: 0.5rem;
                        color: #fff;
                    }
                }
                & li:last-child a {
                    padding-right: 0;
                    margin-right: 0;
                }
            }
        }
    }
}

.header_change {
    .head {
        background: white;
        padding: 0.5rem 6%;
        .header_logo_out {
            width: 20%;
            .header_logo {
                width: 4rem;
            }
        }
        .header_link {
            width: 80%;
            ul {
                height: 100%;
                li {
                    height: 100%;
                    a {
                        font-size: 1.6rem;
                        padding: 0.5rem 1rem;
                        margin: 0 0.5rem;
                        letter-spacing: 0.5rem;
                        color: #000;
                    }
                }
                & li:last-child a {
                    padding-right: 0;
                    margin-right: 0;
                }
            }
        }
    }
}

.header * {
    transition: all ease-out 0.3s;
}

// 视频
.home_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.home_video_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    .home_video_textinner {
        text-align: center;
    }
}

.home_preface {
    text-align: center;
    background: #fafafa;
}

.home_preface_text {
    padding: 20rem 0;
}

.home_preface_img {
    padding: 20rem 0;
    background-image: url("../img/home/22.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home_frontend .home_preface_img {
    background-image: url("../img/home/7.jpg");
}

.footer {
    text-align: center;
    background: #232323;
    color: #fff;
    padding: 2rem 0;
    a {
        color: #fff;
    }
}

// 前端页面
#web_canvas canvas {
    width: 100% !important;
    height: auto !important;
}

.dg {
    display: none;
}

.web_canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.canvas_text {
    height: 39vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web_content1 {
    padding: 5rem 0;
}

.web_con1_li {
    padding-bottom: 15px;
}

.web_con1_img {}

.web_con1_title {}

.web_con1_article_details {}

.web_con1_article_author {}

.web_con1_article_time {}

// weblist 前端列表页
.wl_search {
    background-image: url(../img/weblist/weblistsearch.jpg);
    height: 436px;
    background-repeat: no-repeat;
    background-position: center;
}

.wl_search_inner {
    padding-top: 134px;
    width: 800px;
    margin: 0 auto;
}

.wl_search_02_nav {
    border-radius: 7px;
    overflow: hidden;
}

.wl_search_02_form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
}

.wl_search_02_input {
    width: 90%;
    height: 54px;
    border: 1px solid #ced4da;
}

.wl_search_02_btn {
    width: 10%;
    height: 54px;
}

.wl_title {
    font-size: 28px;
    font-weight: bolder;
    margin: 20px 0;
}

.wl_list {
    margin-bottom: 60px;
}

.wl_li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.wl_li_img {
    width: 10%;
    margin-right: 3%;
}

.wl_li_text {
    width: 80%;
}

.wl_li_title01 {
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.wl_li_title02 {
    font-size: 18px;
}

.wl_pagination {
    margin-bottom: 30px;
}

// web详情页
.mCSB_inside>.mCSB_container {
    margin: 0 15px;
}

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-left: 0;
}

.webdetails_box {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.wd_01,
.wd_02,
.wd_03 {
    height: 100%;
}

.wd_01 {
    width: 30%;
    background: #a4a4a4;
}

.wd_02 {
    width: 45%;
    background: #b5b5b5;
}
.wd_02_inner{
    padding: 30px 0;
}
.wd_02_content {
    text-align: justify;
    font-size: 15px;
}

.wd_03 {
    width: 45%;
    background: #c6c6c6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wd_03_box {
    height: 50%;
    width: 100%;
    background: black;
}